$black = #222229;
$white = #fff;
$grey = #d1d1da;
$light-grey = #dfdfe7;

body {
  color: $black;
}

$section-base {
  padding: 6rem 0;

  h1 {
    font-size: 4.2rem;
    text-align: center;
  }

  h2 {
    font-size: 3.4rem;
    text-align: center;
  }

  .summary {
    font-size: 1.2rem;
  }
}

set-font-colors($color) {
  h1,h2,h3,h4,h5,h6,p,li { color: $color; }
}

build-section($background-color, $color = false) {
  @extend $section-base;
  background-color: $background-color;
  if $color { set-font-colors: $color; }
}

section {
  &.overview {
    build-section($white);
  }
  &.opportunities {
    build-section($light-grey);
  }
  &.positions {
    build-section($white);
  }
  &.help-out {
    build-section($light-grey);
    text-align: center;
    p, a {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
    .button {
      background-color: lighten($light-grey, 50%);
      margin-left: 20px;

      &:hover {
        background-color: darken($grey, 10%);
      }
    }
  }
  &.when-and-where {
    build-section($white);
    text-align: right;
    h2 {
      text-align: right;
    }
  }
  &.things-to-know {
    build-section($black, $white);
    text-align: center;
    ul { margin-bottom: 0; }
  }
  &.form {
    build-section($light-grey);
  }
}

