.grid {
  display: flex;
  flex-wrap: wrap;
  .module,
  .half {
    flex-basis: 50%;
  }
  &.bottom {
    align-items: flex-end;
  }
  @media #{$breakpoint} {
    padding: 10px;
    .module,
    .half {
      flex-basis: 100%;
    }
  }
}
