body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  @media #{$breakpoint} {
    font-size: 14px;
  }
}

h1 {
  color: $orange;
  font-size: 2.5rem;
  margin: 0 0 0.3rem 0;
}
h2 {
  color: $orange;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 0 0.2rem 0;
}
h3 {
  color: $darkgray;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0 0 0.2rem 0;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $blue;
  border-bottom: 1px solid lighten($blue, 30%);
  &:hover,
  &:focus {
    border-bottom-color: darken($blue, 10%);
  }
}

figure {
  margin-bottom: 1rem;
  figcaption {
    font-size: 85%;
    color: #ccc;
    font-style: italic;
  }
}

.intro {
  font-weight: bold;
  font-size: 125%;
  @media #{$breakpoint} {
    font-size: 110%;
  }
}

.big-note {
  color: black;
  text-align: center;
  margin: 20px 30px;
  font-size: 135%;
}

.arrow-header {
  display: inline-block;
  border-bottom: 10px solid $orange;
  text-align: center;
  color: $orange;
  font-size: 2rem;
  margin: 4rem 0 2rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid $orange;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
