$breakpoint: "(max-width: 600px)";

@import "colors";
@import "typography";
@import "grid";
@import "buttons";
@import "nav";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  background: url("../images/logo.svg") center center no-repeat;
  background-size: 400px;
  height: 120px;
  text-indent: -9999px;
  @media #{$breakpoint} {
    background-size: 250px;
  }
}

.center {
  text-align: center;
}

.site-header,
.mega-header {
  background:
    linear-gradient(
      to top,
      rgba($orange, 0.3)    0,
      rgba($orange, 0.3)    4px,
      white                 4px,
      white                 6px,
      rgba($orange, 0.5)    6px,
      rgba($orange, 0.5)   16px,
      white                16px,
      white                19px,
      rgba($orange, 0.7)   18px,
      rgba($orange, 0.7)   40px,
      white                40px,
      white                43px,
      $orange              43px,
      $orange
    );
  padding: 80px 20px;
  position: relative;
  color: white;
  text-align: center;
  margin: 0 0 30px 0;
  a {
    color: inherit;
    border-bottom: 1px dotted;
    &:hover,
    &:active {
      border-bottom-style: solid;
    }
  }
}

.wrap {
  max-width: 925px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  }

img {
  max-width: 100%;
}

.main {
  width: 66.66%;
  float: left;
}
.sidebar {
  width: 33.33%;
  float: right;
  padding-left: 30px;
  .module {
    font-size: 1rem;
  }
}

video {
  width: 100%;
  background-color:$orange;
  margin-bottom: 2em;
}



@media #{$breakpoint} {
  .main,
  .sidebar {
    width: 100%;
    float: none;
  }
}

.by {
  margin: 0;
  color: #ccc;
  padding-left: 10px;
}

.schedule {
  background: $darkgray;
  color: white;
  padding: 15px;
  h5 {
    font-size: 1.188rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
    background: $orange;
    padding: 10px 15px;
    margin: -15px -15px 10px -15px;
  }
  .hours {
    margin: 0 0 1rem 0;
    width: 100%;
    td:nth-child(2) {
      text-align: right;
    }
  }
  p {
    text-align: center;
  }
}

.section {
  margin-bottom: 50px;
}

.module {
  margin-bottom: 50px;
}

.about {
  font-size: 1.25rem;
}

.things {
  padding-right: 20px;
}
.candidate {
  padding-left: 20px;
}
@media #{$breakpoint} {
  .things,
  .candidate {
    padding: 0;
  }
}

.video {
   width: 100%;
   height: 200px;
   border: 0;
   margin-bottom: 3.2em;
}

.things-to-know-list {
  background: $darkgray;
  padding: 25px 40px 35px;

  color: white;
  margin-bottom: 20px;
  li {
    margin: 0 0 20px 0;
    &:last-child {
      margin: 0;
    }
  }
    strong {
    color: $orange;
  }
}

#box {
  text-align: center;
}

.port {
  width: 32.5%;
  margin-top: 0.5em;
  opacity: 0.7;
  border: 3px solid white;
  &:hover {
    opacity: 1;
    border: solid 5px $orange;
  }
  @media ( max-width: 414px) {
    width: 32%;
  }

  @media ( max-width: 768px) {
    width: 45%;
  }
}

.candidate-list {
  padding-bottom: 6.7em;
  font-size: 1.25rem;
  strong {
    color: $orange;
  }
}

.map{
  width: 960px
}

.mega-title {
  color: white;
  font-size: 5.4rem;
  margin: 0 0 2rem 0;
  span {
    text-transform: uppercase;
    border-bottom: 10px solid white;
  }
  @media #{$breakpoint} {
    font-size: 3.2rem;
  }
}

.help-grid {
  width: 965px;
  .module {
    padding-right: 35px;
    img {
      width: 100%;
    }
  }
}

.contact-form {
  width: 100%;
  padding: 40px;
  border: 30px solid #eee;
  @media #{$breakpoint} {
    padding: 5px;
  }
}

.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
.ywca-logo {
  max-width: 200px;
}
@media (max-width: 700px) {
  .footer-left,
  .footer-right {
    float: none;
  }
  .footer-right {
    padding-top: 20px;
  }
}